<div class="form__container">
  <div class="subtitle is-6 mb-5">
    <p class="mb-5"><strong>Feel free to send an email to </strong><a class="is-link">sam.benhadine@gmail.com</a></p>
  </div>
  <div class="field">
    <p class="mb-2">Or fill the form below</p>
    <label class="label">Full name:</label>
    <div class="control">
      <input class="input is-medium" type="text" />
    </div>
  </div>

  <div class="field">
    <label class="label">Your email:</label>
    <div class="control">
      <input class="input is-medium" type="email" />
    </div>
    <!--p class="help is-danger">This email is invalid</p-->
  </div>

  <div class="field">
    <label class="label">Message:</label>
    <div class="control">
      <textarea class="textarea"></textarea>
    </div>
  </div>

  <div class="field is-grouped pt-6">
    <div class="control">
      <button class="button is-info is-rounded is-medium">Send</button>
    </div>
  </div>
</div>
