.navbar {
  border-bottom: 0.01em solid rgb(204, 204, 204);

  .navbar-item {
    &.is-active {
      color: #3e8ed0 !important;
      font-weight: bold;
    }
  }

  span:hover {
    color: #3e8ed0;
    cursor: pointer;
  }
}
