<div class="about__container">
  <h1 class="title is-2">About me</h1>
  <div class="about__subcontainer">
    <div class="about__summary">
      <p>
        lorem ispum lorem ispumlorem ispumlorem ispumlorem ispumlorem ispum
        lorem ispum lorem ispumlorem ispumlorem ispumlorem ispumlorem ispum
        lorem ispum lorem ispumlorem ispumlorem ispumlorem ispumlorem ispum
        lorem ispum lorem ispumlorem ispumlorem ispumlorem ispumlorem ispum
        lorem ispum lorem ispumlorem ispumlorem ispumlorem ispumlorem ispum
      </p>
      <p>
        To get in touch with me
      </p>
    </div>
    <p>
      lorem ispum lorem ispumlorem ispumlorem ispumlorem ispumlorem ispum
      lorem ispum lorem ispumlorem ispumlorem ispumlorem ispumlorem ispum
      lorem ispum lorem ispumlorem ispumlorem ispumlorem ispumlorem ispum
      lorem ispum lorem ispumlorem ispumlorem ispumlorem ispumlorem ispum
      lorem ispum lorem ispumlorem ispumlorem ispumlorem ispumlorem ispum
    </p>
  </div>

</div>
