.vertical-align {
  text-align: center;
  transform: translateY(-200%);
}

.discover-btn {
  padding: 0;
  border: none;
  background: none;
  animation-name: discover_flashing;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.discover-btn:hover {
  padding: 0;
  border: none;
  background: none;
}

@keyframes discover_flashing {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.container {
  padding: 7rem 15rem 7rem 15rem;
}
