<div class="container">
  <div>
    <h1 class="is-size-1 mb-6">I'm Houssam Benhadine</h1>
  </div>
  <div class="subtitle is-4 mb-5" style="color: #7a7a7a">
    <p>I'm documenting my journey from Front End Developement to Devops</p>
    <p>
      I'm passionate about learning new technologies, languages, and automation
    </p>
  </div>
  <div class="buttons">
    <button class="button is-large" style="color: #3e8ed0">View resume</button>
    <button class="button is-info is-large" routerLink="/contact">
      Get in touch
    </button>
  </div>
</div>

<div>
  <h2 style="text-align: center" class="title">Skills</h2>
</div>
