<section class="hero is-large is-primary is-bold is-fullheight-with-navbar">
  <div class="card-content">
    <h4 class="title is-4 has-text-centered">
      “some quote goes here”
    </h4>
    <p class="subtitle has-text-centered">
      Author
    </p>
    <div class="hero-body is-paddingless">
      <div>
        <figure class="image is-480x480">
          <img class="is-rounded" src="" alt="image">
        </figure>
      </div>
      <div class="container">
        <h5 class="title is-5 mb-4">
          Hi, I'm Housam.
        </h5>
        <h5 class="title is-5">
          And I build things on the internet</h5>
      </div>
    </div>
  </div>
  <div class="title is-4 has-text-centered vertical-align">
    <span class="button is-ghost is-primary discover-btn" (click)="scroll(profile)">
      Learn more about what I do

      <i class="fa fa-arrow-down ml-2"></i>
    </span>
  </div>
</section>
<section class="hero is-small" #profile>
  <div class="hero-body row">
      <figure>
        <img class="is-rounded" src="../../assets/images/expTems.png" alt="image">
      </figure>
    <div class="row">
      <p>lorem ispum</p>
    </div>
  </div>
</section>
