<div style="background-color: #3e8ed0; padding: 5rem 0 10rem 0">
  <div class="row d-flex justify-content-around">
    <span>Logo</span>
    <span>
      <ul>
        <li>About</li>
        <li>Blog</li>
        <li>Contact</li>
      </ul>
    </span>
    <div>
      <p>Connect with me on</p>
      <div
        class="row"
        style="
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
        "
      >
        <span>Instagram</span>
        <span>Linkedin</span>
        <span>Github</span>
        <span>Twitter</span>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding: 1.5rem 0 1.5rem 0; text-align: center">
  Copyright Yuchito 2022 Built whith Angular Open sourced on Github and deployed
  on githu pages
</div>
